<?php
define("DB_NAME","{{ exvar_servicos.ocs.db_name }}");
define("SERVER_READ","{{ exvar_servicos.ocs.db_server }}");
define("SERVER_WRITE","{{ exvar_servicos.ocs.db_server }}");
define("SERVER_PORT","3306");
define("COMPTE_BASE","{{ exvar_servicos.ocs.db_user }}");
define("PSWD_BASE","{{ exvar_servicos.ocs.db_pswd }}");
define("ENABLE_SSL","0");
define("SSL_MODE","");
define("SSL_KEY","");
define("SSL_CERT","");
define("CA_CERT","");
