[client]
user:"{{ exvar_servicos.myconf.conf_user }}"
password:"{{ exvar_servicos.myconf.conf_pswd }}"

[mysqldump]
user:"{{ exvar_servicos.myconf.conf_user }}"
password:"{{ exvar_servicos.myconf.conf_pswd }}"

[mysqlpump]
user:"{{ exvar_servicos.myconf.conf_user }}";
password:"{{ exvar_servicos.myconf.conf_pswd }}"